/* CSS Variables for colors */
:root {
    --primary-color: hsl(332, 58%, 24%);
    --secondary-color: hsl(14, 45%, 36%);
    --light-gray: #f3eaea;
    --dark-gray: #7E4333;
  }
  
  /* General Body Styling */
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(224, 216, 206, 0.855);
  }
  
  .whole {
    width: 60vw;
    max-width: 1440px;
    border: 1px solid white;
    border-width: 35px;
    border-radius: 50px;
    background-color: white;
  }
  
  .container {
    text-align: center;
  }
  
  .full-width-image {
    width: 100%;
    border-radius: 20px;
  }
  
  .title-container {
    text-align: center;
  }
  
  .young-serif-regular {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
  }
  
  .quick-description {
    text-align: justify;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 28px;
    padding-right: 60px;
  }
  
  .redbox {
    background-color: var(--light-gray);
    padding: 20px;
    margin-top: 40px;
    margin-left: 28px;
    margin-right: 60px;
  }
  
  .time {
    text-align: left;
    margin-left: 18px;
    color: var(--primary-color);
    font-size: 20px;
    padding-top: 10px;
    font-weight: bold;
  }
  
  .time-list {
    padding-left: 12px;
    list-style: none;
  }
  
  .time-list li {
    padding-bottom: 8px;
    font-size: 16px;
  }
  
  .ingredients-title,
  .instructions-title,
  .nutrition-title {
    color: var(--secondary-color);
    padding-left: 30px;
    font-size: 35px;
  }
  
  .ingredients-list,
  .instructions-list,
  .nutrition-list {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding-left: 28px;
    padding-right: 60px;
  }
  
  .ingredient-item {
    font-size: 16px;
  }
  
  .ulli {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-left: 40px;
    text-align: justify;
    width: 700px;
  }
  
  .calories,
  .carbs,
  .protein,
  .fat {
    color: var(--secondary-color);
    font-weight: bold;
  }
  
  .divider {
    width: 80%;
    margin: 20px auto;
    border: 1px solid var(--dark-gray);
  }
  
  /* Media Queries for Larger Screens */
  @media (min-width: 1024px) {
    body {
      background-color: rgba(224, 216, 206, 0.855);
      width: 60%;
    }
  
    .whole {
      border: 1px solid white;
      border-width: 35px;
      border-radius: 50px;
      background-color: white;
    }
  
    .redbox {
      padding-right: 600px;
    }
  
    .time {
      padding-left: 2px;
      margin-bottom: 30px;
    }
  
    .Rex {
      display: none;
    }
  
    .time-list li {
      white-space: nowrap;
    }
  
    .divider {
      width: 90%;
      margin-left: 5%;
    }
  
    .ingredients-title,
    .instructions-title,
    .nutrition-title {
      font-size: 45px;
      padding-left: 40px;
    }
  
    .ingredients-list,
    .instructions-list,
    .nutrition-list {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  